
.Image-thumb {
    max-width: 100%;
    height: auto;
    margin: 1px;
      overflow: visible;
}

    .Image-thumb img {
        height: 200px;
        width: auto;
   
    }
    .Image-thumb img:hover {
        opacity: 0.9;
    }

#flexcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-bottom: 100px;
 
}

#flexcontainer {
    width: auto;
}

.centerBlock {
    font-size: 50px;
    display: flex;
    justify-content: center;
}
