#Albumflexcontainer{
    display: flex;
    flex-flow: row wrap;
    
    justify-content:flex-start,space-around;
}
#Album-Thumb{
    width:200px;
    height:170px;
}

a{
   color: red;
   font-family:monospace;
   font-size: 2em;
}
