@{
    ViewBag.Title = "Unauthorized";
    Layout = null;
}
<body style="background-image: url('http://365psd.com/images/previews/e55/5-blurred-backgrounds-image-2011Part-1-Background-17-without-Glare.jpg');  background-size:  cover; background-repeat:   no-repeat; background-position: center center;">
    <div style="text-align: center">
        <h1 style="margin-top: 10%; font-size: 5em; font-family: monospace; color: white">UNAUTHORIZED</h1>
        <a href="javascript: history.go(-1)" style="color: white;
    text-decoration: none;">
            <h2>Back To Previous Page</h2>
        </a>
        <h3>or </h3>
        <a href="@Url.Action("Login", "Account")">LogIn</a>
    </div>
</body>