@using Labb_1.Models
@model List<Labb_1.Models.Photo>

<div class="container" style="display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-bottom: 100px;">
    <div>
        @foreach (var photo in Model)
        {
            
                <label class="Image-thumb" for="@photo.PhotoID"  style="max-width: 100%;
    height: auto;
    margin: 1px;
      overflow: visible;"><img class="photo" src="@Url.Content(photo.Url)" alt="Image From Folder" /></label>
                <input type="checkbox" class="photoCheck" name="photoIds" value="@photo.PhotoID" id="@photo.PhotoID"  />
           
        }
    </div>
</div>
<link href="~/Content/AlbumSyle.css" rel="stylesheet"/>

