
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h3>Its Gonna be Great</h3>
<a href="https://sv.wikipedia.org/wiki/Donald_Trump"><img src="https://www.funnypica.com/wp-content/uploads/2015/05/Funny-Pictures-of-Angry-Animals-10.jpg" /></a>

