

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <div id="ManageDiv">
        @{
            Html.RenderPartial("showAddAdress", new AdressBoken.Models.AdressViewModel());
        }
    </div>
</p>
<div id="AdressesDiv">
    @{
        Html.RenderAction("GetAdresses");
    }
</div>
