@model IList<string>
@{
    ViewBag.Title = "Gallery";
}

<h2>My Gallery</h2>
<div class="container">
    @Html.ActionLink("Upload", "UpLoad", "Gallery", new { @class = "navbar-brand" })
    @foreach (var url in Model)
    {
        <img src="@Url.Content(url)" alt="Image From Folder"/>

    }

</div>

     