@model List<Labb_1.Models.Photo>

    @foreach (var photo in Model)
    {
        <a href='@Url.Action("ShowImage", "Gallery", new {ImageUrl = photo.Url})'>
            <img src="@Url.Content(photo.Url)" alt="Image From Folder" style="max-width: 200px; max-height: 200px" />
        </a>
    }
