@model List<Labb_1.Models.Photo>
<div class="flexcontainer-recent">
    <h1>Recent uploads</h1>
    @foreach (var photo in Model)
    {
        <a class="Aimage" href='@Url.Action("ShowImage", "Gallery", new {id = photo.PhotoID})'>
            <img class="fleximage" src="@Url.Content(photo.Url)" alt="Image From Folder"/>
        </a>
    }
</div>
<link href="~/Content/RecentUploads.css" rel="stylesheet" />