@model Labb_1.Models.Photo
@{
   
}

<h2>ShowImage</h2>
<img src="@Url.Content(Model.Url)" alt="Image From Folder" style="max-width: 100%" />
@if (Session["admin"] != null && (bool)Session["Admin"] == true )
{
    <a href='@Url.Action("Delete", "Gallery", new { image = Model})'>Delete Image</a>
}
